{% extends 'base.html' %}

{% block title %}Add Feedback{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Add Your Feedback</h1>
    <form id="feedback-form" method="POST">
        {{form.hidden_tag()}}

        {% for field in form if field.widget.input_type != 'hidden' %}

        <p>
            {{field.label}}
            {{field(class_="form-control")}}

            {% for error in field.errors %}
                <div class="text-sm text-danger">
                    {{error}}                  
                </div>
            {% endfor %}
        </p>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Add</button>

    </form>
{% endblock %}